<div class="main">
    
    <div class="navigation-bar">
        <app-navigation-bar [routesNavigation]="routesNavigation"></app-navigation-bar>
    </div>

    <div class="content">
        
        <div class="image-pokemon">
            <img class="image" src="{{pokemon.image}}" alt="Pokemon">
        </div>
        <div class="table">

            <div class="data">
                <div class="square">
                    <div class="title">
                        Nombre
                    </div>
                    <p class="subtitle">
                        {{pokemon.name}}
                    </p>
                </div>
                <div class="square">
                    <div class="title">
                        Tipo
                    </div>
                    <p class="subtitle">
                        {{pokemon.type}}
                    </p>
                </div>
                <div class="square">
                    <div class="title">
                        Altura
                    </div>
                    <p class="subtitle">
                        {{pokemon.height}}
                    </p>
                </div>
                <div class="square">
                    <div class="title">
                        Peso
                    </div>
                    <p class="subtitle">
                        {{pokemon.weight}}
                    </p>
                </div>
            </div>

            <div class="scores">
                <div class="square">
                    <div class="title">
                        Ataque Especial
                    </div>
                    <p class="subtitle">
                        {{pokemon.special_attack}}
                    </p>
                </div>
                <div class="square">
                    <div class="title">
                        Ataque
                    </div>
                    <p class="subtitle">
                        {{pokemon.attack}}
                    </p>
                </div>
                <div class="square">
                    <div class="title">
                        Defensa
                    </div>
                    <p class="subtitle">
                        {{pokemon.defense}}
                    </p>
                </div>
                <div class="square">
                    <div class="title">
                        Velocidad
                    </div>
                    <p class="subtitle">
                        {{pokemon.speed}}
                    </p>
                </div>
            </div>

        </div>

    </div>

</div>
