<div class="main">
    
    <div class="navigation-bar">
        <app-navigation-bar [routesNavigation]="routesNavigation"></app-navigation-bar>
    </div>

    <div class="content">
        <div class="cards">
            
            <div class="card"
            *ngFor="let pokemon of listPokemon | paginate: { itemsPerPage: 12, currentPage: page, totalItems: quantityPokemon }">
                <div class="image">
                    <img class="pic" src="{{pokemon.image}}" alt="Pokemon">
                </div>
                <div class="name">
                    {{pokemon.name}}
                </div>
                <div class="type">
                    {{pokemon.type}}
                </div>
                <div class="buttons">
                    <button (click)="goDetailsPokemon(pokemon.id)" mat-raised-button class="details">Detalles</button>
                    <button *ngIf="!favoritesMode" mat-raised-button class="favorites">Favorito</button>
                    <button *ngIf="favoritesMode" mat-raised-button class="remove">Quitar</button>
                </div>
            </div>
            
        </div>
        <pagination-controls (pageChange)="page = $event; listPokemon = []; allPokemon()"></pagination-controls>
    </div>

</div>